version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: mon_projet_db
    environment:
      POSTGRES_USER: your_username
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_database
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - db_network

networks:
  db_network:
    driver: bridge